* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#form {
    margin-bottom: 50px;
}

#inputData {
    position: relative;
    left: 45%;
    font-size: 20px;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    margin: 20px;
    border-left: 1px solid #888;
    border-bottom: 1px solid #888;
}

.block {
    width: 400px;
}

.bar,
.remaining,
.water {
    border-top: 1px solid #888;
    border-right: 1px solid #888;
    height: 50px;
}

.bar {
    background: #ffff00;
}

.remaining {
    background: white;
}

.water {
    background: #00b0f0;
}
